include ./base/head

doctype html
html(lang='en')
    head
        +head()
        title About Page

    main.p-about
        .container
            .row.d-flex.justify-content-center
                h1 About
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aut autem doloremque ea eligendi esse est
                | exercitationem impedit incidunt ipsum maiores necessitatibus nesciunt, provident quas quisquam suscipit
                | temporibus veritatis voluptate. At, aut dolorum maxime officia reprehenderit voluptatum. Architecto atque
                | deserunt dolore earum eum excepturi hic itaque laboriosam laudantium quae quo, similique sit vero voluptas
                | voluptatibus. Assumenda delectus dicta dolore dolores ex exercitationem fugiat incidunt magni modi neque
                | nulla praesentium, quae quaerat recusandae sit veritatis vitae voluptate? Ad, assumenda consequuntur